html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1582983560672-ab41be5d05a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 72px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: palegoldenrod;
    margin: 30px 30px 120px 30px;
}

p {
    font-size: 24px;
    text-align: center;
    margin: 40px;
}

footer {
    position: fixed;
    bottom: 50%;
    right: 50%;
    margin: 40px;
    padding: 25px
}

footer li {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 10px;
    padding: 10px;

}